# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List of commonly used Data Science libraries
* List of Data Science tools
* How to code arithmetic expressions to multipy and add number
* How to code arithmetic expressions to convert minutes into hours

# Some of the popular languages that Data Scientists use are:

1. Python
2. R Language
3. SQL
4. Scala
5. Java
6. C++
7. Julia

## Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. SciPy
4. Matplotlib
5. Seaborn
6. Scikit-learn
7. Keras
8. TensorFlow
9. Pytorch
10. Vegas
11. Big DL
12. ggplot2
13. dplyr
14. stringr
15. ggplot
16. caret

| Data Science Tools | Development Environments | Execution Environments | Fully Integrated Visual Tools |
| ------------------ | ------------------------ | ---------------------- | ----------------------------- |
| MySQL | Jupyter | Apache Spark | KNIME |
| PostgreSQL | Apache Zeppelin | Flink | Orange |
| MongoDB | R Studio | Ray |
| Apache | Spyder |
| CouchDB |
| Apache Cassandra |
| Hadoop File System |
| Ceph |
| Elastic Search |
| Apache AirFlow |
| KubeFlow |
| Apache Kafka |
| Apache Nifi |
| Apache SparkSQL |
| NodeRED |
| Pixie Dust |
| Hue |
| Kibana |
| Apache Superset |
| Apache PredictionIO |
| Seldon |
| Kubernetes |
| Redhat |
| OpenShift |
| Mleap |
| TensorFlow service |
| TensorFlow lite |
| TensorFlow dot JS |
| ModelDB |
| Prometheus |
| IBM AI Fairness 360 |
| IBM Adversarial Robustness 360 Toolbox |
| IBM AI Explainability 360|
| Git |
| Github |
| GitLab |
| Bitbucket |
| Apache Atlas |
| ODPi Egeria |
| Kylo |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
Christine H. Aranjuez